<section class="indexpage">
<h1>Here is a list of posts for a given user</h1>
<div class="profile-content">
<img class="image" src="<%= @posts.photo%>">
<div>
<h1 class="user-name" ><%= @posts.name %> </h1>
<span class="user-posts">Number of Posts : <%= @post.length %> </span>
</div>
</div>

<ul class="profile">
  <% @post.each_with_index do |element, index| %>
    <li>
    <a class="post-content" href="posts/<%= element.id %>">
    <h2> Post # <%= index + 1 %> </h2>
    <h3><%= element.Title %></h3>
<p><%= element.Text %></p>
<span class="postInfo">Comments: <%= element.comments.length %>, Likes: <%= element.likes.length %></span>

    </a>
    <div>
    <h3>Commments</h3>
<% element.recent_comments.each do |comment| %>
<p>
<span><%= comment.author.name %> : </span>
<span> <%= comment.text %> </span>
</p>
<% end %>
</li>
  <% end %>
</ul>

<button>
    <a href='/users/<%= @posts.id%>/posts/new'>Create a new post</a>
    </button>
  

</section>